*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}

/*Inizio Header*/
header{
    background-color: hsl(222.55deg 81.67% 52.94%);
    height: 60px;
}
a{
    text-decoration: none;
    color: inherit;
}
.navbar{
    padding: 10px;
}    
.row{
    background-color: hsl(222.55deg 81.67% 52.94%);
    display: flex;    
    height: 40px;
}
.navlist{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: white;
}
.col20{
    width: 20%;
    padding: 10px;
}
.col60{
    width: 60%;
    padding: 10px;
    text-align: center;
}
.login{
    text-align: right;
}
.square{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

/*Inizio Main*/

/*Prima sezione con titolo e due link*/

.blue{
    background-image: url(../img/jumbo.png);
    max-width: 100%;
    display: flex;
    background-size: cover;
    text-align: center;
}

.pink{
    width: 70%;
    height: 300px;
    margin: 200px 15%;
    color: white;
}
h1{
    margin-bottom: 50px;
    font-size: 50px;
}
p{
    font-size: 20px;
    margin-bottom: 30px;
}
.square-download{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}
.square-browser{
    background-color:hsl(205.71deg 9.09% 15.1%) ;
    padding: 10px;
    border-radius: 20px;
}

/*Seconda sezione colonnare*/

.white{
    background-color: white
    width: 100%;
    display: flex;
}
.col1{
    width: 60%;
    height: 500px;
    margin: 50px 0;
}
.col2{
    width: 40%;
    height: 500px;
    margin:50px 0;
}
.row2{
    display: flex;
}
.gray{
    background-color: hsl(0deg 0% 96.47%);
    width: 100%;
    display: flex;
}

/*ultima sezione del main*/

.green{
    width: 100%;
    height: 1000px;
    margin: 50px 0;
    text-align: center;
}
.adventure{
    font-size: 40px;
    background-image: url(../img/stars.svg);
    background-size: auto
}
.square-download-2{
    background-color: hsl(226.73deg 58.43% 65.1%);
    color:white;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}
.row3{
display: flex;
height: 500px;
}

/*Inizio del footer*/

/*Prima sezione Footer*/
.black{
    background-color: hsl(205.71deg 9.09% 15.1%);
    width: 100%;
    display: flex;
}
.ita{
    color: white;
    margin-bottom: 20px;
}
.flag{
    height: 15px;
}
.talk{
    color:hsl(226.53deg 50.52% 61.96%) ;
    margin-top: 70px;
}
ul{
    list-style: none;
    color: 
}
li{
    margin:20px 0 20px 0;
    color: white;
}
h3{
    margin-top: 70px;
    color:hsl(226.53deg 50.52% 61.96%) ;
}
.col3{
    width: 40%;
    height: 400px;
    margin: 10px 0 30px 0;
}
.col4{
    width: 15%;
    background-color:  hsl(205.71deg 9.09% 15.1%);
    height: 400px;
    margin: 10px 0 30px 0;
}
hr{
color:hsl(226.73deg 58.43% 65.1%);
background:hsl(226.73deg 58.43% 65.1%);
border: 0;
height: 1px;
}

/*Ultima sezione footer*/
.row4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  hsl(205.71deg 9.09% 15.1%);
    height: 90px;
}
.final-logo{
    color: black;
    background-color:  hsl(205.71deg 9.09% 15.1%);
}
.final-button{
    color:white;
    background-color: hsl(226.73deg 58.43% 65.1%);
    padding: 10px;
    border-radius: 20px;
}